.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  /*min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 1vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.menu {
  background-color: #029688;
  display: inline-block;
}
.menu div{
  display: inline-block;
  padding: 11px 45px;
  background-color: #27a69b;
  margin-right: 2px;
}
.menu, .footer-menu {
  cursor: pointer;
}
div.search {
  background-color: #029688 !important;
  margin: 0 15px;
  padding: 5px 5px;
}
div.search input {
  background-color: #27a69b;
  border: 1px solid #27a69b;
  border-radius: 10px;
  color: #ffffff;
  width: 250px;
}
.loadmore {
  width: 100%;
  margin: 20px 0;
}
.loadmore button {
  width: 100%;
}
.news{
  border: 1px solid #dee2e6;
  padding: 20px 10px 15px 10px;
  margin-bottom: 30px;
}
.news img {
  height: 160px;
  width: 100%
}
.news .title {
  color:  #029688;
  font-weight: bold;
}
.news .updated {
  color: #9eaeb5;
  margin-top:10px;
}
.news .title {
  margin-bottom: 20px;
}
.news .title.mobile {
  display: none;
}
.margin-l-15 {
  margin-left: -15px;
}
.footer {
  background-color: #f8f8f8;
  padding-top: 25px;
  padding-bottom: 10px;
}

.footer-menu {
  list-style: none;
}
.footer-menu li:not(:last-child) {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #dee2e6;
}
.footer-menu li{
  font-size: 0.9rem;
  color:  #029688;
  font-weight: bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px){
  .App-header {
    overflow: hidden;
  }
  .bg-menu {
    background-color: #029688;
    padding-left: 15px;
    padding-right: 15px;
  }
  .bg-gray {
    background-color: #d2d2d2;
  }
  .search-mobile {
    padding: 5px 15px;
  }
  .menu {
    background-color: #029688;
  }
  .menu div{
    display: block;
    padding: 11px 45px;
    background-color: #029688;
    margin-right: 2px;
  }
  .news {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
  }
  .news .title {
    display: none;
  }
  .news .title.mobile {
    display: block;
    margin-bottom: 10px;
  }
  .menu-dropdown {
    display: none;
  }
  
}